body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: lightblue;
}

div {

    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid crimson;
    border-top: 10px solid black;
    animation: 5s ease-in 0s infinite spin;
    animation: 1s linear 0s infinite spin;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}