div {
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: orangered;
  border: 5px solid black;
  border-radius: 15px;
  border-radius: 30px 10px 30px 10px;
  border-radius: 50%;
}
