*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: pink;
  border: 2px solid black;
  padding: 25px;
  margin: 50px 40px;
}


/*    
  margin-top:30px;
  margin-right:20px;
  margin-buttom:40px;
  margin-left:10px;

  margin Shorthand: margin-top | margin-right | margin-buttom | margin-left;
  margin: 50px;   applied 50px in all 4 direction
  
  margin Shorthand: margin-top | margin-right | margin-buttom | margin-left;
  margin: 30px 20px 40px 10px
          
  margin Shorthand: top | right-left | buttom |
  margin: 40px 20px 30px;
  
  margin Shorthand: top-butttom | right-left 
  margin: 30px 30px;
*/
