.bedcrum {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 500;
  margin: 60px auto;
  max-width: 900px;
  padding: 0 20px;
  text-transform: capitalize;
}

/* Media query for responsiveness */
@media (max-width: 1024px) {
  .bedcrum {
    margin: 60px 10px; /* Adjusting margin for smaller screens */
    font-size: 14px; /* Decreasing font size for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 500px) {
  .bedcrum {
    flex-wrap: wrap; /* Allowing the breadcrumbs to wrap */
    gap: 10px; /* Increasing gap between items for better spacing */
    font-size: 12px; /* Decreasing font size further for very small screens */
  }
}
