*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

div {
  height: 100px;
  width: 150px;
  background-color: orangered;
  border: 3px solid black;
  text-align: center;

  /* padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px; */
  padding: 25px; /* applied in all direction */
  /* padding Shorthand: padding-top | padding-right | padding-buttom | padding-left; */
  padding: 40px 20px 0px 100px;
}


h3 {
  height: 100px;
  width: 100px;
  background-color: yellow;
  text-align: center;
  padding: 30px 50px;
}


p {
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: green;
  /*
    padding shorthand: top = 40 | left & right = 20 | bottom = 30px;
  */
  padding: 40px 20px 0px;
  border: 5px solid black;
}


/*    
  padding-top:30px;
  padding-right:20px;
  padding-buttom:40px;
  padding-left:10px;

  padding Shorthand: padding-top | padding-right | padding-buttom | padding-left;
  padding: 30px 20px 40px 10px
        
  padding Shorthand: padding-top | padding-right | padding-buttom | padding-left;
  padding: 25px;   applied 25px in all 4 direction;

  padding Shorthand: top | right-left | buttom |
  padding: 40px 20px 30px;

  padding Shorthand: top-butttom | right-left 
  padding: 30px 30px;
*/




/* Notes:
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

div{
    height: 100px;
    width:100px;
    padding:20px;
    border:5px solid black;
}

Agar universal me(*) box-sizing: border-box kr diya toh.
Given Height, width me padding margin adjust hoga. Maan lo Box ka height=100px & width=100px hai to padding and border usi 100px me adjust hoga.
*/