* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-size: large;
}

li {
  list-style-type: none;
  padding-block: 15px;
  padding-inline: 50px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
}

.red {
  color: orangered;
}


