@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}

h1{
  font-size: 70px;
  font-weight: 600;
  top: 50vh;
  left: 50vw;
  text-decoration: underline;
  position: absolute;
  transform: translate(-50%, -50%);
}