// 1: operator
// 2: variables
// 3: nesting
// 4: mixin :- Reusable blocks of styles.
// 5: parameters
// 6: partials

@import "mixin";
@import "var";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, "Segoe UI", sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .main-header {
    @include flex-center; // mixin
    width: 100vw;
    height: 100vh;
    background-color: $bg-color; // variables
  
    // nesting
    h1 {
      @include common-code(0.6rem, uppercase);
      &:hover {
        color: orangered;
      }
    }
  
    p {
      @include common-code(0.1rem, capitalize);
      &:hover {
        color: greenyellow;
      }
    }
  }
  