/* 
   text-decoration: underline/ line-through/ overline/ wavy underline; 
   text-decoration: none;
 */

h1 {
  text-align: center;
  color: salmon;
}

h3{
  text-align: center;
}


#heading1 {
  text-decoration: overline;
}

#heading2 {
  text-decoration: underline;
}

#heading3 {
  text-decoration: line-through;
}

#heading4 {
  text-decoration: wavy underline green;
}

#heading5 {
  text-decoration: underline dotted;
}

#heading6 {

  text-decoration: underline overline line-through;
}

#heading7 {
  text-decoration: underline overline #3aff28;
}

a {
  text-decoration: none;
}
