body {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
